.swal2-styled.swal2-confirm {
    border: 0;
    border-radius: .25em;
    background: initial;
    background-color: #009ef7!important;
    color: #fff;
    font-size: 1em
}

.swal2-styled.swal2-confirm:focus {
    box-shadow: 0 0 0 3px #009ef7!important
}

.swal2-styled.swal2-confirm {
    border: 0;
    border-radius: .25em;
    background: initial;
    background-color: #009ef7!important;
    color: #fff;
    font-size: 1em
}

.swal2-styled.swal2-confirm:focus {
    box-shadow: 0 0 0 3px rgba(115,103,240,.5)
}